.pads {
    display: flex;
    justify-content: center;
}

.pads > div {
    width: 10.3rem;
    height: 3rem;
    float: left;
    padding: 0.5rem;
    margin: 0.5rem;
}

.pads .pad1 {
    background: #def
}

.pads .pad2 {
    background: #fadecd
}

.pads .pad3 {
    background: #adbecf
}

.pads .pad4 {
    background: #782edf
}

.pads .pad5 {
    background: #1d2edf
}

.pads .pad6 {
    background: #2dfe3f
}

.pads .pad7 {
    background: #2d003f
}
