/*Utility classes*/
.container {
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}

.mb {
    margin-bottom: 1rem;
}

.mt {
     margin-top: 1rem;
}

.btn {
    padding: 1rem;
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
}

.btn-secondary {
    background-color: var(--secondary-color);
}

.btn-secondary:hover {
    background-color: var(--secondary-color-hover);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-light {
     color: var(--text-light);
}

